body{
    margin: 0px;
}
.header{
    background: #f8f8f8;
    border-bottom: 1px solid #e6e6e6;
    color: #333333;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.container{
    width: 1170px;
    margin: auto;
    padding: 12px 0;
}
.container .left-item{
    float: left;
}
.container .right-item{
    float: right;
}
.left-item .separator{
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #d3d3d3;
}